firstname,lastname,street,city,zipcode
[% FOREACH r IN results_loop %]"[% r.firstname | html %]","[% r.surname | html %]","[% r.address | html %]","[% r.city | html %]","[% r.zipcode | html %]"
[% END %]